set surround
set highlightedyank

set visualbell
set noerrorbells
set NERDTree
set ideajoin
set showmode

let mapleader = " "

nnoremap <leader>ve :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>

nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>


nmap <leader>n :action GotoNextError<CR>
nmap <leader>d yyp

nmap <leader>ri :action Inline<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>
nmap <leader>e :action RecentFiles<CR>
nmap <leader><leader> :action Back<CR>
nmap <leader>gr :action Vcs.RollbackChangedLines<CR>
nmap <leader>a :action GotoAction<CR>
nmap <leader>gitp :action Git.Pull<CR>
nmap <leader>gits :action Git.Stash<CR>
nmap <leader>gitu :action Git.Unstash<CR>
nmap <leader>gitm :action Git.Menu<CR>
nmap <leader>gitc :action Git.ContextMenu<CR>
nmap <leader>run :action RunMenu<CR>

nmap <leader>f  :action ReformatCode<CR>

nnoremap <leader>/ :nohls<return><esc>

map gf :edit <cfile><cr>
